
p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto, arial;
}

body {
  margin: 0;
  padding-top: 82px;
  padding-left: 72px;
  padding-right: 24px;
  overflow-x: hidden;
  background-color: rgb(248, 248, 248);
}