.header{
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 55px;
  background-color: white;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section1 {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.left-section2 {
  height: 24px;
}

.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 570px;
}

.search-bar {
  flex: 1;
  font-size: 16px;
  padding-left: 10px;
  height: 36px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button, 
.voice-search-button,
.upload-icon-container,
.apps-icon-container,
.notification-icon-container,
.my-profile-container{
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.search-button .tool-tip, 
.voice-search-button .tool-tip,
.upload-icon-container .tool-tip,
.apps-icon-container .tool-tip,
.notification-icon-container .tool-tip,
.my-profile-container .tool-tip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tool-tip,
.voice-search-button:hover .tool-tip,
.upload-icon-container:hover .tool-tip,
.apps-icon-container:hover .tool-tip,
.notification-icon-container:hover .tool-tip,
.my-profile-container:hover .tool-tip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 42px;
  border-radius: 22px;
  margin-top: 4px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
  
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.apps-icon {
  height: 24px;
}

.notification-icon-container {
  position: relative;
}

.notification-icon {
  height: 24px;
}

.notification-number {
  background-color: rgb(191, 10, 10);
  color: white;
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  font-family: Arial;
  font-size: 11px;
  top: -5px;
  right: -4px;
  
}

.my-profile {
  height: 32px;
  border-radius: 16px;
}