.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  cursor: pointer;
}

.sidebar-link {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.siderbar-link:hover {
  background-color: rgb(235, 235, 235);
  margin-bottom: 1px;
}

.sidebar-link img {
  margin-bottom: 4px;
  height: 24px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
  display: flex;
  flex-direction: column;
}
