.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px ;
  row-gap:40px;
  
}

@media ( max-width: 750px){
  .video-grid {
    grid-template-columns: 1fr 1fr ;
  }
}

@media ( min-width: 751px) and ( max-width: 999px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media ( min-width: 1000px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.thumnail {
  width: 350px;
  margin-bottom: 8px;
}

.thumnail-row {
  position: relative;
}

.video-time {
  position: absolute;
  background-color: black;
  color: white;
  right: 10px;
  bottom: 20px;
  font-size: 15px;
  font-family: arial;
  padding: 4px;
  font-weight: bold;
  border-radius: 2px;
}


.profile-picture{
  width: 36px;
  border-radius: 50px;
}

.video-author,
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr ;
}

.channel-picture{
  width: 50px;
}

.video-info{
  margin-left: 3px;
}

.video-title{
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 1px;
}